.mobile-nav-holder, .mobile-nav-more-holder{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 65px;
    border-top: 1px solid rgb(221, 221, 221);
    background-color: white;
    width: 100%;
    justify-content: center;
}

.mobile-nav-more-holder{
    z-index: 1000;
}

.mobile-order-notification{
    top: -3px;
    right: -5px;
}

.mobile-campaign-notification{
    top: -3px;
    right: -12px;
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: gray;
    text-decoration: none;
}

.nav-item-selected{
    color: var(--black);
}

.nav-item-selected .nav-img{
    fill: var(--black);
}

.nav-item-selected .nav-img-stroke{
    stroke: var(--black);
}

.nav-txt{
    font-size: 10px;
    margin-top: 8px;
}

.nav-img-holder{
    position: relative;
}

.nav-img{
    display: block;
    height: 24px;
    width: 24px;
    fill: rgb(176, 176, 176);
}

.nav-img-stroke{
    stroke: rgb(176, 176, 176);
    stroke-width: 2.5px;
}

@media only screen and (max-width: 800px) {
    .mobile-nav-holder{
        display: flex;
    }
}
