.footer{
    display: none !important;
}

.form-holder{
    margin: 6% auto;
    width: 30%;
    min-width: 380px;
}

.form-title{
    font-size: 185%;
    margin: 0 auto 7% auto;
    font-weight: 600;
    text-align: center;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

/* social auth */
.social-login-holder{
    width: 100%;
}

.social-login-btn-holder{
    display: flex;
    justify-content: center;
}

.g_id_signin{
    border: 1px solid var(--black);
    border-radius: 5px;
}

.seperator{
    text-align: center;
    border-bottom: 2px solid gainsboro;
    line-height: 0.1em;
    margin: 8% 0;
}

.seperator span{
    background: white;
    color: #9c9c9c;
    padding: 0 10px;
}
/* social auth end */

.input{
    width: calc(100% - 10px);
    margin-bottom: 4%;
}

.form select{
    width: 100%;
}

.submit{
    background-color: var(--black);
    color: white;
    width: 100%;
    padding: 15px;
    margin: 0 auto 4% auto;
}

.login-signup{
    margin-bottom: 15px;
    text-align: center;
    color: var(--lightGray);
    font-weight: 400;
    font-size: 64%;
}

.login-signup a, .login-forgot a{
    color: var(--black);
    text-decoration: none;
}

.reset-form{
    display: none;
}

.login-forgot{
    margin-top: 15px;
    color: var(--lightGray);
    font-size: 85%;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #content{
        padding-bottom: 100px;
    }

    .form-holder{
        width: 90%;
        min-width: initial;
        margin: 8% auto;
    }
}