.search-form-holder{
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.search-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: var(--lightBoxShadow);
    transition-duration: 0.3s;
    cursor: pointer;
}

.filter-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px 0 14px 18px;
    border-radius: 30px;
    position: relative;
}

.filter-section:first-child {
    padding-left: 22px;
}

.filter-section:hover {
    box-shadow: var(--lightBoxShadow);
}

.filter-title {
    font-weight: 600;
    font-size: 80%;
}

.filter-placeholder {
    margin-top: 4px;
    color: var(--lightGray);
    font-size: 86%;
}

.filter-placeholder-chosen{
    margin-top: 4px;
    font-size: 86%;
}

.filter-search-input{
    border: none;
    font: inherit;
    width: calc(100% - 15px);
    padding: 0;
}

.filter-search-input::placeholder{
    color: var(--lightGray);
}

.filter-seperator {
    border-right: 1px solid #e6e6e6;
    height: 36px;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: white;
    border-radius: 50px;
    padding: 14px 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-right: 12px;
    font-family: inherit;
    transition-duration: 0.3s;
}

.search-btn:hover{
    opacity: 0.8;
}

.search-img {
    width: 18px;
}

.filter-dropdown-holder {
    display: none;
    z-index: 999;
    position: absolute;
    top: calc(100% + 13px);
    width: calc(100% - 30px);
    overflow-y: scroll;
    max-height: 300px;
    background-color: white;
    padding: 14px;
    box-shadow: var(--darkBoxShadow);
    border-radius: 30px;
    transition-duration: 0.3s;
}

.platform-dropdown-holder{
    left: 0;
}

.clear-input-btn{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: #eee;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.clear-input-img{
    width: 9px;
    height: 10px;
}

.category-dropdown-holder{
    right: 0;
}

.filter-dropdown-holder::-webkit-scrollbar {
    display: block !important;
    width: 3px !important;
    -webkit-appearance: scrollbartrack-vertical;
}

.filter-dropdown-holder::-webkit-scrollbar-track {
    border-radius: 50px !important;
    background: white !important;
}

.filter-dropdown-holder::-webkit-scrollbar-thumb {
    border-radius: 50px !important;
    background: rgba(209, 212, 217, 0.6) !important;
}

.filter-dropdown-holder::-webkit-scrollbar-thumb:hover {
    background: rgba(209, 212, 217, 0.8) !important;
}

.filter-dropdown-option {
    display: flex;
    font-size: 95%;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.filter-dropdown-option-selected,
.filter-dropdown-option:hover, .filter-search-input-suggestion-option:hover {
    background-color: #e7e7ea;
}

/* search dropdown */

.filter-search-input-pop-title{
    margin-bottom: 14px;
    font-weight: 600;
    color: #bbb;
    font-size: 76%;
}

.filter-search-input-pop-holder{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-search-input-pop-option{
    padding: 6px 12px;
    margin: 0 10px 12px 0;
    background-color: #F1F1F1;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    font-size: 86%;
    transition-duration: 0.3s;
}

.filter-search-input-pop-option:hover{
    background-color: #d6d6d6;
}

.filter-search-input-suggestion-title{
    color: #bbb;
    font-size: 72%;
    margin-bottom: 4px;
}

.filter-search-input-suggestion-area{
    display: none;
}

.filter-search-input-suggestion-option {
    font-size: 92%;
    padding: 10px 0;
    font-weight: 500;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.filter-search-input-suggestion-option:last-child{
    margin-bottom: 8px;
}

/* search dropdown end */


.mobile-select-dropdown{
    font-size: 100%;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 9999;
}

.more-filters-btn-holder{
    margin: 2% 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.filters-btn{
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 86%;
    cursor: pointer;
    border: 1px solid #cdcdcd;
    transition-duration: 0.3s;
    margin-right: 16px;
    white-space: nowrap;
}

.filters-btn:hover, .filters-btn-selected{
    border: 1px solid var(--black);
    background-color: rgba(239, 239, 239, 0.6);
}

.filters-btn-img{
    fill: none;
    height: 12px;
    width: 12px;
    stroke: #222;
    stroke-width: 5;
    overflow: visible;
    margin-left: 8px;
}

.filters-btn-holder{
    position: relative;
}

.filters-btn-dropdown{
    display: none;
    z-index: 998;
    position: absolute;
    top: calc(100% + 13px);
    overflow-y: scroll;
    max-height: 300px;
    background-color: white;
    box-shadow: var(--darkBoxShadow);
    border-radius: 8px;
    transition-duration: 0.3s;
    min-width: 270px;
    left: 0;
}

.filters-btn-dropdown-main{
    display: flex;
    flex-direction: column;
    padding: 14px;
    max-height: 205px;
    overflow-y: scroll;
}

.filters-btn-dropdown-footer{
    border-top: 1px solid #EBEBEB;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 85%;
}

.clear-btn{
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

.clear-btn:hover{
    opacity: 0.8;
}

.filters-btn-dropdown-footer .btn{
    color: white;
    background-color: var(--black);
    padding: 9px 14px;
}

/* checkbox */

.checkbox-holder{
    display: flex;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 15px;
    line-height: 21px;
    width: fit-content;
    margin: 10px 0;
}

/* Hide the browser's default checkbox */
.checkbox-holder input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
    transition-duration: 0.3s;
}

/* On mouse-over, add a grey background color */
.checkbox-holder:hover input ~ .checkmark {
    border: 1px solid var(--black);
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: var(--black);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* checkbox end */

@media only screen and (max-width: 800px) {
    .search-form-holder{
        width: 100%;
    }

    .search-holder {
        flex-direction: column;
        border-radius: 40px;
        padding: 0 12px 12px 12px;
    }

    .filter-section {
        position: relative;
        width: 100%;
        margin: 8px 0 0 0;
        padding: 8px 0 8px 22px !important;
    }

    .filter-placeholder, .filter-placeholder-chosen {
        font-size: 100%;
    }

    .mobile-select-dropdown{
        display: block;
    }

    .filter-seperator {
        border-right: none;
        border-bottom: 1px solid #e6e6e6;
        height: 8px;
        width: 100%;
    }

    .search-btn {
        width: 100%;
        padding: 16px 0;
        margin: 4% 0 0 0;
    }

    .filter-section:hover {
        box-shadow: none;
    }

    .filter-dropdown-holder {
        width: calc(100% - 28px);
        max-height: 200px;
    }

    .more-filters-btn-holder{
        margin: 3% auto;
        padding: 1% 0;
        overflow-x: scroll;
        justify-content: initial;
    }

    .filters-btn{
        min-width: fit-content;
    }

    .more-filters-btn{
        margin-right: 0;
    }

    .filters-btn-dropdown{
        position: fixed;
        top: initial;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
    }

    .filters-btn-dropdown-main{
        padding: 22px 14px;
        max-height: 175px;
    }

    .filters-btn-dropdown-footer{
        padding: 18px 14px;
    }

    .filters-btn-dropdown-footer .btn {
        padding: 12px 18px;
    }
}